.tooltip {
    background: #FFF;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    pointer-events: none;
    position: absolute;
    box-shadow: 0 0 4px gray;
}