#sidebar {
    padding-left: 10px;
    height: 100%;
}

#dimensions {
    height: 50%;
}

#metrics {
    height: 50%;
}


.field {
    cursor: pointer;
    padding: 10px 5px;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field:hover:not(.active) {
    background-color: gainsboro;
}

.field i {
    margin-left: 4px;
    position: relative;
}

.active {
    border-radius: 3px;
    background-color: rgb(63, 63, 63);
    color: #FFF;
}


.current-fn-group {
    display:flex;
    align-items: center;
    position: relative;
}

.met-current-fn {
    margin-left: 10px;
    background-color: brown;
    color: #FFF;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 4px 3px 4px;
}