

#content {
    display: flex;
    justify-content: center;
}


#content {
    height: 500px;

}

#chart {
    height: 100%;
    width: 850px;
}

#sidebar {
    height: 100%;
}

#dimensions {
    height: 50%;
}

#metrics {
    height: 50%;
}