@import "./_reset.scss";

@import "./navbar.scss";
@import "./fields.scss";
@import "./chart.scss";
@import "./dropdown.scss";
@import "./modal.scss";
@import "./dataset_picker.scss";


#content {
    display: flex;
    justify-content: center;
    height: 500px;
}